.idea
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/mykey*
/RPi.GPIO-Cheat-Sheet.pdf
*/.terraform.lock.hcl
/terraform/certs/*.crt
/terraform/certs/*.key
/terraform/certs/*.pem
